<!--
TODO:
- Fix displaying of dates
-->

<% include ../partials/header %>

</head>
<body>

<% include ../partials/navbar %>
<div class="container">
  <h1>Index of Events</h1>
  <div class="row">
    <% events.forEach((event) => { %>
      <div class="col-md-4">
        <div class="card">
          <a href="/events/<%= event._id %>">
            <img class="card-img-top" src="<%= event.imageUrl %>" alt="Event picture">
          </a>
          <div class="card-body">
            <h5 class="card-title"><%= event.name %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= event.dates[0].toLocaleDateString("en-US") + " - " + event.dates[event.dates.length-1].toLocaleDateString("en-US") %></h6>
            <p class="card-text"><%= event.description %></p>
            <a href="/events/<%= event._id %>" class="btn btn-primary">More Info</a>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
</div>


<% include ../partials/footer %>
