<!--
TODO:
- Fix displaying of dates
-->

<% include ../partials/header %>

</head>
<body>

<% include ../partials/navbar %>

<% function sameDay(d1, d2) {
  return d1.getFullYear() === d2.getFullYear() &&
  d1.getMonth() === d2.getMonth() &&
  d1.getDate() === d2.getDate()
} %>

<div class="container">
  <h1>Index of Events</h1>
  <div class="row">
    <% events.forEach((item) => { %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <a href="/events/<%= item._id %>">
            <img class="card-img-top" src="<%= item.imageUrl %>" alt="Event picture">
          </a>
          <div class="card-body">
            <h5 class="card-title"><%= item.name %></h5>
            <h6 class="card-subtitle mb-2 text-muted">
              <% if (!sameDay(item.startDate, item.endDate)) { %>
                <%= `${item.startDate.toLocaleDateString("en-US")} - ${item.endDate.toLocaleDateString("en-US")}` %>
              <% } else { %>
                <%= item.startDate.toLocaleDateString("en-US") %>
              <% } %>
            </h6>
            <p class="card-text"><%= item.description %></p>
            <a href="/events/<%= item._id %>" class="btn btn-primary">More Info</a>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
</div>


<% include ../partials/footer %>
