<% include ../partials/header %>
  <!-- Datepicker -->
  <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
  <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />

</head>
<body>

<% include ../partials/navbar %>

<%= foundParticipant %>

<div class="container mb-5">
  <h1 class='mt-3 mb-3'>Edit Participant</h1>
  <h6 class="form-text text-muted mb-3">The following information will be visible to the organizers of events for which this participant is registered.</h6>
  <form action="/users/<%= currentUser._id %>/participants" method="POST">
    <div class="form-row">
      <div class="form-group col-md-5">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName" name="firstName" value="<%= foundParticipant.firstName %>" required>
      </div>
      <div class="form-group col-md-5">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName" name="lastName" value="<%= foundParticipant.lastName %>" required>
      </div>
      <div class="form-group col-md-2">
        <label for="gender">Gender</label>
        <select id="gender" name="gender" class="form-control" required>
          <option <%= foundParticipant.gender === "Male" ? "selected" : "" %>>Male</option>
          <option <%= foundParticipant.gender === "Female" ? "selected" : "" %>>Female</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="dob">Date of Birth</label>
        <input class="form-control" id="dob" name="dob" width="100%" value="<%= foundParticipant.dob.toLocaleDateString("en-US") %>" required>
      </div>
      <div class="form-group col-md-8">
        <label for="medical">Medical Information</label>
        <input class="form-control" id="medical" name="medical" value="<%= foundParticipant.medical %>">
      </div>
    </div>
    <div class="form-group">
      <label for="address">Address</label>
      <input type="text" class="form-control" id="address" name="address" value="<%= foundParticipant.address %>" required>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="city">City</label>
        <input type="text" class="form-control" id="city" name="city" value="<%= foundParticipant.city %>"required>
      </div>
      <div class="form-group col-md-4">
        <label for="state">State</label>
        <select id="state" name="state" class="form-control" required>
          <option value="AL" <%= foundParticipant.state === "AL" ? "selected" : "" %>>Alabama</option>
        	<option value="AK" <%= foundParticipant.state === "AK" ? "selected" : "" %>>Alaska</option>
        	<option value="AZ" <%= foundParticipant.state === "AZ" ? "selected" : "" %>>Arizona</option>
        	<option value="AR" <%= foundParticipant.state === "AR" ? "selected" : "" %>>Arkansas</option>
        	<option value="CA" <%= foundParticipant.state === "CA" ? "selected" : "" %>>California</option>
        	<option value="CO" <%= foundParticipant.state === "CO" ? "selected" : "" %>>Colorado</option>
        	<option value="CT" <%= foundParticipant.state === "CT" ? "selected" : "" %>>Connecticut</option>
        	<option value="DE" <%= foundParticipant.state === "DE" ? "selected" : "" %>>Delaware</option>
        	<option value="DC" <%= foundParticipant.state === "DC" ? "selected" : "" %>>District Of Columbia</option>
        	<option value="FL" <%= foundParticipant.state === "FL" ? "selected" : "" %>>Florida</option>
        	<option value="GA" <%= foundParticipant.state === "GA" ? "selected" : "" %>>Georgia</option>
        	<option value="HI" <%= foundParticipant.state === "HI" ? "selected" : "" %>>Hawaii</option>
        	<option value="ID" <%= foundParticipant.state === "ID" ? "selected" : "" %>>Idaho</option>
        	<option value="IL" <%= foundParticipant.state === "IL" ? "selected" : "" %>>Illinois</option>
        	<option value="IN" <%= foundParticipant.state === "IN" ? "selected" : "" %>>Indiana</option>
        	<option value="IA" <%= foundParticipant.state === "IA" ? "selected" : "" %>>Iowa</option>
        	<option value="KS" <%= foundParticipant.state === "KS" ? "selected" : "" %>>Kansas</option>
        	<option value="KY" <%= foundParticipant.state === "KY" ? "selected" : "" %>>Kentucky</option>
        	<option value="LA" <%= foundParticipant.state === "LA" ? "selected" : "" %>>Louisiana</option>
        	<option value="ME" <%= foundParticipant.state === "ME" ? "selected" : "" %>>Maine</option>
        	<option value="MD" <%= foundParticipant.state === "MD" ? "selected" : "" %>>Maryland</option>
        	<option value="MA" <%= foundParticipant.state === "MA" ? "selected" : "" %>>Massachusetts</option>
        	<option value="MI" <%= foundParticipant.state === "MI" ? "selected" : "" %>>Michigan</option>
        	<option value="MN" <%= foundParticipant.state === "MN" ? "selected" : "" %>>Minnesota</option>
        	<option value="MS" <%= foundParticipant.state === "MS" ? "selected" : "" %>>Mississippi</option>
        	<option value="MO" <%= foundParticipant.state === "MO" ? "selected" : "" %>>Missouri</option>
        	<option value="MT" <%= foundParticipant.state === "MT" ? "selected" : "" %>>Montana</option>
        	<option value="NE" <%= foundParticipant.state === "NE" ? "selected" : "" %>>Nebraska</option>
        	<option value="NV" <%= foundParticipant.state === "NV" ? "selected" : "" %>>Nevada</option>
        	<option value="NH" <%= foundParticipant.state === "NH" ? "selected" : "" %>>New Hampshire</option>
        	<option value="NJ" <%= foundParticipant.state === "NJ" ? "selected" : "" %>>New Jersey</option>
        	<option value="NM" <%= foundParticipant.state === "NM" ? "selected" : "" %>>New Mexico</option>
        	<option value="NY" <%= foundParticipant.state === "NY" ? "selected" : "" %>>New York</option>
        	<option value="NC" <%= foundParticipant.state === "NC" ? "selected" : "" %>>North Carolina</option>
        	<option value="ND" <%= foundParticipant.state === "ND" ? "selected" : "" %>>North Dakota</option>
        	<option value="OH" <%= foundParticipant.state === "OH" ? "selected" : "" %>>Ohio</option>
        	<option value="OK" <%= foundParticipant.state === "OK" ? "selected" : "" %>>Oklahoma</option>
        	<option value="OR" <%= foundParticipant.state === "OR" ? "selected" : "" %>>Oregon</option>
        	<option value="PA" <%= foundParticipant.state === "PA" ? "selected" : "" %>>Pennsylvania</option>
        	<option value="RI" <%= foundParticipant.state === "RI" ? "selected" : "" %>>Rhode Island</option>
        	<option value="SC" <%= foundParticipant.state === "SC" ? "selected" : "" %>>South Carolina</option>
        	<option value="SD" <%= foundParticipant.state === "SD" ? "selected" : "" %>>South Dakota</option>
        	<option value="TN" <%= foundParticipant.state === "TN" ? "selected" : "" %>>Tennessee</option>
        	<option value="TX" <%= foundParticipant.state === "TX" ? "selected" : "" %>>Texas</option>
        	<option value="UT" <%= foundParticipant.state === "UT" ? "selected" : "" %>>Utah</option>
        	<option value="VT" <%= foundParticipant.state === "VT" ? "selected" : "" %>>Vermont</option>
        	<option value="VA" <%= foundParticipant.state === "VA" ? "selected" : "" %>>Virginia</option>
        	<option value="WA" <%= foundParticipant.state === "WA" ? "selected" : "" %>>Washington</option>
        	<option value="WV" <%= foundParticipant.state === "WV" ? "selected" : "" %>>West Virginia</option>
        	<option value="WI" <%= foundParticipant.state === "WI" ? "selected" : "" %>>Wisconsin</option>
        	<option value="WY" <%= foundParticipant.state === "WY" ? "selected" : "" %>>Wyoming</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="zip">Zip</label>
        <input type="text" class="form-control" id="zip" name="zip" value="<%= foundParticipant.zip %>" required>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="email">Parent/Guardian Email</label>
        <input type="email" class="form-control" id="email" name="email" value="<%= foundParticipant.email %>" required>
      </div>
      <% // Phone number formatting
        const formattedPhone = foundParticipant.phone.slice(0, 3) + "-" + foundParticipant.phone.slice(3, 6) + "-" + foundParticipant.phone.slice(6)
      %>
      <div class="form-group col-md-4">
        <label for="phone">Parent/Guardian Phone Number</label>
        <input type="text" class="form-control" id="phone" name="phone" value="<%= formattedPhone %>" required>
      </div>
      <div class="form-group col-md-2">
        <label for="shirtSize">Shirt Size</label>
        <select id="shirtSize" name="shirtSize" class="form-control" required>
          <option value="XS" <%= foundParticipant.shirtSize === "XS" ? "selected" : "" %>>XS</option>
          <option value="S" <%= foundParticipant.shirtSize === "S" ? "selected" : "" %>>S</option>
          <option value="M" <%= foundParticipant.shirtSize === "M" ? "selected" : "" %>>M</option>
          <option value="L" <%= foundParticipant.shirtSize === "L" ? "selected" : "" %>>L</option>
          <option value="XL" <%= foundParticipant.shirtSize === "XL" ? "selected" : "" %>>XL</option>
          <option value="XXL" <%= foundParticipant.shirtSize === "XXL" ? "selected" : "" %>>XXL</option>
          <option value="XXXL" <%= foundParticipant.shirtSize === "XXXL" ? "selected" : "" %>>XXXL</option>
        </select>
      </div>
    </div>

    <!-- ================== -->
    <!-- EMERGENCY CONTACTS -->
    <!-- ================== -->

    <h3 class="mt-5 mb-3">Emergency Contacts</h3>
    <small class="form-text text-muted mb-3">
      Enter two people who will be called in the event of an emergency. The first person will be the primary contact, with the second only being contacted if we are unable to contact the first.
    </small>
    <div class="form-group">
      <label for="ecOneName">Emergency Contact 1 Name</label>
      <input class="form-control" id="ecOneName" type="text" name="emergencyContacts[0][name]" value="<%= foundParticipant.emergencyContacts[0].name %>" required>
    </div>
    <div class="form-row">
      <% // Phone number formatting
        const ecOneFormattedPhone = foundParticipant.emergencyContacts[0].phone.slice(0, 3) + "-" + foundParticipant.emergencyContacts[0].phone.slice(3, 6) + "-" + foundParticipant.emergencyContacts[0].phone.slice(6)
      %>
      <div class="form-group col-md-6">
        <label for="ecOnePhone">Emergency Contact 1 Phone Number</label>
        <input class="form-control" id="ecOnePhone" type="text" name="emergencyContacts[0][phone]" value="<%= ecOneFormattedPhone %>" required>
      </div>
      <div class="form-group col-md-6">
        <label for="ecOneRelationship">Emergency Contact 1 Relationship</label>
        <input class="form-control" id="ecOneRelationship" type="text" name="emergencyContacts[0][relationship]" value="<%= foundParticipant.emergencyContacts[0].relationship %>" required>
      </div>
    </div>
    <br />
    <div class="form-group">
      <label for="edTwoName">Emergency Contact 2 Name</label>
      <input class="form-control" id="edTwoName" type="text" name="emergencyContacts[1][name]" value="<%= foundParticipant.emergencyContacts[1].name %>" required>
    </div>
    <div class="form-row">
      <% // Phone number formatting
        const ecTwoFormattedPhone = foundParticipant.emergencyContacts[1].phone.slice(0, 3) + "-" + foundParticipant.emergencyContacts[1].phone.slice(3, 6) + "-" + foundParticipant.emergencyContacts[1].phone.slice(6)
      %>
      <div class="form-group col-md-6">
        <label for="ecTwoPhone">Emergency Contact 2 Phone Number</label>
        <input class="form-control" id="ecTwoPhone" type="text" name="emergencyContacts[1][phone]" value="<%= ecTwoFormattedPhone %>" required>
      </div>
      <div class="form-group col-md-6">
        <label for="ecTwoRelationship">Emergency Contact 2 Relationship</label>
        <input class="form-control" id="ecTwoRelationship" type="text" name="emergencyContacts[1][relationship]" value="<%= foundParticipant.emergencyContacts[1].relationship %>" required>
      </div>
    </div>
    <br />

    <!-- ================== -->
    <!-- AUTHORIZED PICKUPS -->
    <!-- ================== -->

    <h3 class="mt-5 mb-3">Authorized Pickups</h3>
    <small class="form-text text-muted mb-3">
      Enter between one and three people who are authorized to pickup this participant. In order to ensure the safety of the participant, they will not be released to anyone other than these people.
    </small>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="ecOneName">Authorized Pickup 1 Name</label>
        <input class="form-control" id="ecOneName" type="text" name="authorizedPickups[0][name]" value="<%= foundParticipant.authorizedPickups[0].name %>" required>
      </div>
      <% // Phone number formatting
        const apOneFormattedPhone = foundParticipant.authorizedPickups[0].phone.slice(0, 3) + "-" + foundParticipant.authorizedPickups[0].phone.slice(3, 6) + "-" + foundParticipant.authorizedPickups[0].phone.slice(6)
      %>
      <div class="form-group col-md-6">
        <label for="ecOnePhone">Authorized Pickup 1 Phone Number</label>
        <input class="form-control" id="ecOnePhone" type="text" name="authorizedPickups[0][phone]" value="<%= apOneFormattedPhone %>" required>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="ecTwoName">Authorized Pickup 2 Name</label>
        <% if (foundParticipant.authorizedPickups[1]) { %>
          <input class="form-control" id="ecTwoName" type="text" name="authorizedPickups[1][name]" value="<%= foundParticipant.authorizedPickups[1].name %>">
        <% } else { %>
          <input class="form-control" id="ecTwoName" type="text" name="authorizedPickups[1][name]" placeholder="Jane Doe">
        <% } %>

      </div>
      <div class="form-group col-md-6">
        <label for="ecTwoPhone">Authorized Pickup 2 Phone Number</label>
        <% if (foundParticipant.authorizedPickups[1]) { %>
          <% // Phone number formatting
            const apTwoFormattedPhone = foundParticipant.authorizedPickups[1].phone.slice(0, 3) + "-" + foundParticipant.authorizedPickups[1].phone.slice(3, 6) + "-" + foundParticipant.authorizedPickups[1].phone.slice(6)
          %>
          <input class="form-control" id="ecTwoPhone" type="text" name="authorizedPickups[1][phone]" value="<%= apTwoFormattedPhone %>">
        <% } else { %>
          <input class="form-control" id="ecTwoPhone" type="text" name="authorizedPickups[1][phone]" placeholder="555-555-5555">
        <% } %>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="ecTwoName">Authorized Pickup 3 Name</label>
        <% if (foundParticipant.authorizedPickups[2]) { %>
          <input class="form-control" id="ecTwoName" type="text" name="authorizedPickups[2][name]" value="<%= foundParticipant.authorizedPickups[2].name %>">
        <% } else { %>
          <input class="form-control" id="ecTwoName" type="text" name="authorizedPickups[2][name]" placeholder="Jane Doe">
        <% } %>

      </div>
      <div class="form-group col-md-6">
        <label for="ecTwoPhone">Authorized Pickup 2 Phone Number</label>
        <% if (foundParticipant.authorizedPickups[2]) { %>
          <% // Phone number formatting
            const apThreeFormattedPhone = foundParticipant.authorizedPickups[2].phone.slice(0, 3) + "-" + foundParticipant.authorizedPickups[2].phone.slice(3, 6) + "-" + foundParticipant.authorizedPickups[2].phone.slice(6)
          %>
          <input class="form-control" id="ecTwoPhone" type="text" name="authorizedPickups[2][phone]" value="<%= apThreeFormattedPhone %>">
        <% } else { %>
          <input class="form-control" id="ecTwoPhone" type="text" name="authorizedPickups[2][phone]" placeholder="555-555-5555">
        <% } %>
      </div>
    </div>
    <br />
    <h3 class="mt-5 mb-3">Additional Information</h3>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="churchMember">Does this participant attend a church regularly?</label>
        <select id="churchMember" name="churchMember" class="form-control" required>
          <option value="true" <%= foundParticipant.churchMember ? "selected" : ""  %>>Yes</option>
          <option value="false" <%= !foundParticipant.churchMember ? "selected" : ""  %>>No</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label for="church">If so, where?</label>
        <input type="text" name="church" id="church" class="form-control" placeholder="e.g. West Hartsville Baptist Church">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="photoPermission">May we have permission to photograph this participant?</label>
        <select id="photoPermission" name="photoPermission" class="form-control" required>
          <option value="true" <%= foundParticipant.photoPermission ? "selected" : ""  %>>Yes</option>
          <option value="false" <%= !foundParticipant.photoPermission ? "selected" : ""  %>>No</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label for="photoPublication">May we have permission to publish photos of this participant?</label>
        <select id="photoPublication" name="photoPublication" class="form-control" required>
          <option  value="true" <%= foundParticipant.photoPublication ? "selected" : ""  %>>Yes</option>
          <option  value="false" <%= !foundParticipant.photoPublication ? "selected" : ""  %>>No</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="comments">Comments (optional)</label>
      <textarea class="form-control" name="comments" id="comments" rows="6"><%= foundParticipant.comments %></textarea>
    </div>

    <button type="submit" class="btn btn-primary mt-4">Submit</button>
  </form>
</div>

<script>
  $('#dob').datepicker({
    uiLibrary: 'bootstrap4'
  });
</script>

<% include ../partials/footer %>
