<% include ../partials/header %>

</head>
<body>

<% include ../partials/navbar %>
<div class="container">
  <div class="row mt-5 border-bottom">
    <div class="col-md-3 pl-0">
      <h1><%= currentUser.username %></h1>
    </div>
    <div class="col-md-9 d-flex justify-content-around align-items-center">
      <a class="align-middle text-decoration-none" href="#" onclick="toggleTabs(workerDiv, participantDiv)" id="workers-button">Workers</a>
      <a class="align-middle text-decoration-none" href="#" onclick="toggleTabs(participantDiv, workerDiv)" id="participants-button">Participants</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 pl-0">
      <a class="btn btn-success text-light mt-3">
        Edit Profile
      </a>
      <h6 class="mt-2 font-weight-light"><%= currentUser.email %></h6>
      <h6 class="mt-1 font-weight-light"><%= currentUser.phone %></h6>
    </div>


    <div class="col-md-9 p-2 d-flex flex-column justify-content-center" id="wp_display">
      <!-- Worker Section -->
      <div id="workers">
        <% if (userParams.workers.length > 0) { %>
          <% userParams.workers.forEach((worker) => { %>
            <!-- Repeat for each worker -->
            <div class="d-flex justify-content-between mt-3 mb-3 tabcontent">
              <h4><%= worker.firstName %> <%= worker.lastName %></h4>
              <a class="btn btn-success"href="/users/<%= currentUser._id %>/workers/<%= worker._id %>">Edit</a>
            </div>
          <% }) %>
        <% } else { %>
          <div class="d-flex justify-content-center mt-3 mb-3">
            <h4>No workers</h4>
          </div>
        <% } %>
      </div>
      <!-- End Worker Section -->

      <!-- Participant Section -->
      <div id="participants" style="display:none">
        <% if (userParams.participants.length > 0) { %>
          <% userParams.participants.forEach((participant) => { %>
            <!-- Repeat for each participant -->
            <div class="d-flex justify-content-between mt-3 mb-3">
              <h4><%= participant.firstName %> <%= participant.lastName %></h4>
              <a class="btn btn-success"href="/users/<%= currentUser._id %>/participants/<%= participant._id %>">Edit</a>
            </div>
          <% }) %>
        <% } else { %>
          <div class="d-flex justify-content-center mt-3 mb-3">
            <h4>No participants</h4>
          </div>
        <% } %>
      </div>
      <!-- End Participant Section -->

    </div>
  </div>
  <a href="/users/<%= currentUser._id %>/workers/new">Add Worker</a>
  <br />
  <a href="/users/<%= currentUser._id %>/participants/new">Add Participant</a>

</div>

<!-- <script src="/public/js/workerModeToggle.js"></script> -->
<script type="text/javascript">
  const workerDiv = document.getElementById("workers");
  const participantDiv = document.getElementById("participants");

  function toggleTabs(enableDiv, disableDiv) {
      enableDiv.style.display = "block";
      disableDiv.style.display = "none";
  }

</script>

<% include ../partials/footer %>

<!--
Include:
- Username
- Details (email, phone, etc.) with link to edit
- List of Workers with links to edit
- List of Participants with links to edit
- Button to change password
- Button to send password reset
  -->
